In [1]:
import numpy as np

In [2]:
import matplotlib.pyplot as plt

In [3]:
import pandas as pd

In [10]:
#Chargez le fichier "heart" de données dans un objet appelé "data"
data=pd.read_excel('heart.xlsx')

In [9]:
pd.read_blocs_notes('heart.txt')

AttributeError: module 'pandas' has no attribute 'read_blocs_notes'

In [11]:
data

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58,masculin,100,234,A,A,156,non,1,1,B,presence
1,41,feminin,130,204,A,C,172,non,14,1,A,absence
2,58,masculin,150,270,A,C,111,oui,8,1,A,presence
3,53,masculin,140,203,B,C,155,oui,31,3,A,presence
4,41,masculin,130,214,A,C,168,non,20,2,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
265,62,feminin,140,268,A,C,160,non,36,3,C,presence
266,62,masculin,130,231,A,A,146,non,18,2,D,absence
267,64,masculin,110,211,A,C,144,oui,18,2,A,absence
268,63,feminin,150,407,A,C,154,non,40,2,D,presence
269,35,feminin,138,183,A,A,182,non,14,1,A,absence

In [78]:
#Copiez data dans un autre object appelé df
df = data.copy()
df

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58,masculin,100,234,A,A,156,non,1,1,B,presence
1,41,feminin,130,204,A,C,172,non,14,1,A,absence
2,58,masculin,150,270,A,C,111,oui,8,1,A,presence
3,53,masculin,140,203,B,C,155,oui,31,3,A,presence
4,41,masculin,130,214,A,C,168,non,20,2,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
265,62,feminin,140,268,A,C,160,non,36,3,C,presence
266,62,masculin,130,231,A,A,146,non,18,2,D,absence
267,64,masculin,110,211,A,C,144,oui,18,2,A,absence
268,63,feminin,150,407,A,C,154,non,40,2,D,presence
269,35,feminin,138,183,A,A,182,non,14,1,A,absence

In [81]:
#les 10 prmiers lignes de votre objet df
df.head(10)

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58,masculin,100,234,A,A,156,non,1,1,B,presence
1,41,feminin,130,204,A,C,172,non,14,1,A,absence
2,58,masculin,150,270,A,C,111,oui,8,1,A,presence
3,53,masculin,140,203,B,C,155,oui,31,3,A,presence
4,41,masculin,130,214,A,C,168,non,20,2,A,absence
5,65,feminin,155,269,A,A,148,non,8,1,A,absence
6,51,masculin,110,175,A,A,123,non,6,1,A,absence
7,45,feminin,112,160,A,A,138,non,0,2,A,absence
8,55,masculin,130,262,A,A,155,non,0,1,A,absence
9,58,feminin,136,319,B,C,152,non,0,1,C,presence

In [127]:
df.shape

(270, 12)

In [87]:
#nombre lignes et de colonnes de l'objet df
print(len(df.columns))

12

In [88]:
print(len(df.index))

270

In [91]:
print(len(df.columns), len(df.index))

12 270

In [85]:
#Afficher la liste des colonnes de l'objet df
df.columns

Index(['age', 'sexe', 'pression', 'cholester', 'sucre', 'electro', 'taux_max',
       'angine', 'depression', 'pic', 'vaisseau', 'coeur'],
      dtype='object')

In [92]:
#Afficher les statistiques descriptives pour les variables quantitatives de l'objet df
df.describe()

              age    pression   cholester    taux_max  depression         pic
count  270.000000  270.000000  270.000000  270.000000  270.000000  270.000000
mean    54.433333  131.344444  249.659259  149.677778   10.500000    1.585185
std      9.109067   17.861608   51.686237   23.165717   11.452098    0.614390
min     29.000000   94.000000  126.000000   71.000000    0.000000    1.000000
25%     48.000000  120.000000  213.000000  133.000000    0.000000    1.000000
50%     55.000000  130.000000  245.000000  153.500000    8.000000    2.000000
75%     61.000000  140.000000  280.000000  166.000000   16.000000    2.000000
max     77.000000  200.000000  564.000000  202.000000   62.000000    3.000000

In [100]:
#Afficher les statistiques descriptives pour les variables qualitatives de l'objet df
df.sexe.describe()

count          270
unique           2
top       masculin
freq           183
Name: sexe, dtype: object

In [144]:
#Afficher les 10 premieres lignes de l'objet df en utilisant la technique d'indexing
print(df.loc[0:9])

   age      sexe  pression  cholester sucre electro  taux_max angine  \
0   58  masculin       100        234     A       A       156    non
1   41   feminin       130        204     A       C       172    non
2   58  masculin       150        270     A       C       111    oui
3   53  masculin       140        203     B       C       155    oui
4   41  masculin       130        214     A       C       168    non
5   65   feminin       155        269     A       A       148    non
6   51  masculin       110        175     A       A       123    non
7   45   feminin       112        160     A       A       138    non
8   55  masculin       130        262     A       A       155    non
9   58   feminin       136        319     B       C       152    non

   depression  pic vaisseau     coeur
0           1    1        B  presence
1          14    1        A   absence
2           8    1        A  presence
3          31    3        A  presence
4          20    2        A   absence
5           8    1        A   absence
6           6    1        A   absence
7           0    2        A   absence
8           0    1        A   absence
9           0    1        C  presence

In [145]:
df.loc[0:9]

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58,masculin,100,234,A,A,156,non,1,1,B,presence
1,41,feminin,130,204,A,C,172,non,14,1,A,absence
2,58,masculin,150,270,A,C,111,oui,8,1,A,presence
3,53,masculin,140,203,B,C,155,oui,31,3,A,presence
4,41,masculin,130,214,A,C,168,non,20,2,A,absence
5,65,feminin,155,269,A,A,148,non,8,1,A,absence
6,51,masculin,110,175,A,A,123,non,6,1,A,absence
7,45,feminin,112,160,A,A,138,non,0,2,A,absence
8,55,masculin,130,262,A,A,155,non,0,1,A,absence
9,58,feminin,136,319,B,C,152,non,0,1,C,presence

In [110]:
#Afficher les 4 premieres colonnes de l'objet 
print(df.iloc[:,1:5])

         sexe  pression  cholester sucre
0    masculin       100        234     A
1     feminin       130        204     A
2    masculin       150        270     A
3    masculin       140        203     B
4    masculin       130        214     A
..        ...       ...        ...   ...
265   feminin       140        268     A
266  masculin       130        231     A
267  masculin       110        211     A
268   feminin       150        407     A
269   feminin       138        183     A

[270 rows x 4 columns]

In [109]:
df.iloc[:,1:5]

         sexe  pression  cholester sucre
0    masculin       100        234     A
1     feminin       130        204     A
2    masculin       150        270     A
3    masculin       140        203     B
4    masculin       130        214     A
..        ...       ...        ...   ...
265   feminin       140        268     A
266  masculin       130        231     A
267  masculin       110        211     A
268   feminin       150        407     A
269   feminin       138        183     A

[270 rows x 4 columns]

In [232]:
#Afficher un sous dataframe df1 qui contient les 10 premiere lignes et
#les 4 premieres colonne de l'obj
df1.iloc[0:, 0:4]

    age      sexe  pression  cholester
0  58.0  masculin     100.0      234.0
1  41.0   feminin     130.0      204.0
2  58.0  masculin     150.0      270.0
3  53.0  masculin     140.0      203.0
4  41.0  masculin     130.0      214.0
5  65.0   feminin     155.0      269.0
6  51.0  masculin     110.0      175.0
7  45.0   feminin     112.0      160.0
8  55.0  masculin     130.0      262.0
9  58.0   feminin     136.0      319.0

In [237]:
#Afficher un sous dataframe df2 qui contient les 10 premiere ligne des variables
#age, sexe et pression et cholester
df2=df1[0:10]
df2

    age      sexe  pression  cholester
0  58.0  masculin     100.0      234.0
1  41.0   feminin     130.0      204.0
2  58.0  masculin     150.0      270.0
3  53.0  masculin     140.0      203.0
4  41.0  masculin     130.0      214.0
5  65.0   feminin     155.0      269.0
6  51.0  masculin     110.0      175.0
7  45.0   feminin     112.0      160.0
8  55.0  masculin     130.0      262.0
9  58.0   feminin     136.0      319.0

In [202]:
#vérifier si une personne a plus de 50 ans. Le résultant attendu est un vecteur boolean
df[df.age>50]:True
df

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,coeur
0,58.0,masculin,100.0,234.0,A,A,156.0,non,presence
1,41.0,feminin,130.0,204.0,A,C,172.0,non,absence
2,58.0,masculin,150.0,270.0,A,C,111.0,oui,presence
3,53.0,masculin,140.0,203.0,B,C,155.0,oui,presence
4,41.0,masculin,130.0,214.0,A,C,168.0,non,absence
...,...,...,...,...,...,...,...,...,...
267,64.0,masculin,110.0,211.0,A,C,144.0,oui,absence
268,63.0,feminin,150.0,407.0,A,C,154.0,non,presence
269,35.0,feminin,138.0,183.0,A,A,182.0,non,absence
masculin,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
feminin,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
#afficher les femmes qui ont plus de 50 ans
df[df.age>50]

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58.0,masculin,100.0,234.0,A,A,156.0,non,1.0,1.0,B,presence
2,58.0,masculin,150.0,270.0,A,C,111.0,oui,8.0,1.0,A,presence
3,53.0,masculin,140.0,203.0,B,C,155.0,oui,31.0,3.0,A,presence
5,65.0,feminin,155.0,269.0,A,A,148.0,non,8.0,1.0,A,absence
6,51.0,masculin,110.0,175.0,A,A,123.0,non,6.0,1.0,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
264,54.0,feminin,160.0,201.0,A,A,163.0,non,0.0,1.0,B,absence
265,62.0,feminin,140.0,268.0,A,C,160.0,non,36.0,3.0,C,presence
266,62.0,masculin,130.0,231.0,A,A,146.0,non,18.0,2.0,D,absence
267,64.0,masculin,110.0,211.0,A,C,144.0,oui,18.0,2.0,A,absence
268,63.0,feminin,150.0,407.0,A,C,154.0,non,40.0,2.0,D,presence

In [165]:
df[df.sexe=='feminin']

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
1,41.0,feminin,130.0,204.0,A,C,172.0,non,14.0,1.0,A,absence
5,65.0,feminin,155.0,269.0,A,A,148.0,non,8.0,1.0,A,absence
7,45.0,feminin,112.0,160.0,A,A,138.0,non,0.0,2.0,A,absence
9,58.0,feminin,136.0,319.0,B,C,152.0,non,0.0,1.0,C,presence
10,52.0,feminin,136.0,196.0,A,C,169.0,non,1.0,2.0,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
261,53.0,feminin,130.0,264.0,A,C,143.0,non,4.0,2.0,A,absence
264,54.0,feminin,160.0,201.0,A,A,163.0,non,0.0,1.0,B,absence
265,62.0,feminin,140.0,268.0,A,C,160.0,non,36.0,3.0,C,presence
268,63.0,feminin,150.0,407.0,A,C,154.0,non,40.0,2.0,D,presence
269,35.0,feminin,138.0,183.0,A,A,182.0,non,14.0,1.0,A,absence

In [179]:
#afficher les femmes plus de 50 ans qui ont une maladie cardiaque
W=df[df.coeur=='presence']
W

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58.0,masculin,100.0,234.0,A,A,156.0,non,1.0,1.0,B,presence
2,58.0,masculin,150.0,270.0,A,C,111.0,oui,8.0,1.0,A,presence
3,53.0,masculin,140.0,203.0,B,C,155.0,oui,31.0,3.0,A,presence
9,58.0,feminin,136.0,319.0,B,C,152.0,non,0.0,1.0,C,presence
11,59.0,masculin,140.0,177.0,A,A,162.0,oui,0.0,1.0,B,presence
...,...,...,...,...,...,...,...,...,...,...,...,...
260,43.0,feminin,132.0,341.0,B,C,136.0,oui,30.0,2.0,A,presence
262,64.0,masculin,140.0,335.0,A,A,158.0,non,0.0,1.0,A,presence
263,60.0,masculin,140.0,293.0,A,C,170.0,non,12.0,2.0,C,presence
265,62.0,feminin,140.0,268.0,A,C,160.0,non,36.0,3.0,C,presence
268,63.0,feminin,150.0,407.0,A,C,154.0,non,40.0,2.0,D,presence

In [180]:
#afficher le taux de cholester et de sucre des femmes plus de 50 ans qui ont une maladie cardiaque
W['cholester'].div(100)

0      2.34
2      2.70
3      2.03
9      3.19
11     1.77
       ...
260    3.41
262    3.35
263    2.93
265    2.68
268    4.07
Name: cholester, Length: 120, dtype: float64

In [184]:
#verifier s'il y a des donnees manquantes
D=df.duplicated()
D

0           False
1           False
2           False
3           False
4           False
            ...
267         False
268         False
269         False
masculin    False
feminin     False
Length: 272, dtype: bool

In [187]:
#compter le nbre de duplicatat
#df.duplicated().sum() autre calcul
A=D.sum()
A

0

In [139]:
#suppression les lignes ou il y a des donnees maquantes
df=df.drop_duplicates()
df

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58,masculin,100,234,A,A,156,non,1,1,B,presence
1,41,feminin,130,204,A,C,172,non,14,1,A,absence
2,58,masculin,150,270,A,C,111,oui,8,1,A,presence
3,53,masculin,140,203,B,C,155,oui,31,3,A,presence
4,41,masculin,130,214,A,C,168,non,20,2,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
265,62,feminin,140,268,A,C,160,non,36,3,C,presence
266,62,masculin,130,231,A,A,146,non,18,2,D,absence
267,64,masculin,110,211,A,C,144,oui,18,2,A,absence
268,63,feminin,150,407,A,C,154,non,40,2,D,presence
269,35,feminin,138,183,A,A,182,non,14,1,A,absence

In [141]:
#suppression les lignes ou il y a des donnees maquantes
df.dropna(axis=0)

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58,masculin,100,234,A,A,156,non,1,1,B,presence
1,41,feminin,130,204,A,C,172,non,14,1,A,absence
2,58,masculin,150,270,A,C,111,oui,8,1,A,presence
3,53,masculin,140,203,B,C,155,oui,31,3,A,presence
4,41,masculin,130,214,A,C,168,non,20,2,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
265,62,feminin,140,268,A,C,160,non,36,3,C,presence
266,62,masculin,130,231,A,A,146,non,18,2,D,absence
267,64,masculin,110,211,A,C,144,oui,18,2,A,absence
268,63,feminin,150,407,A,C,154,non,40,2,D,presence
269,35,feminin,138,183,A,A,182,non,14,1,A,absence

In [126]:
df.shape

(270, 12)

In [154]:
#Recodage de sexe (0 pour masculin et 1 pour féminin)
df.at['masculin', 'sexe']=0
df

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58.0,masculin,100.0,234.0,A,A,156.0,non,1.0,1.0,B,presence
1,41.0,feminin,130.0,204.0,A,C,172.0,non,14.0,1.0,A,absence
2,58.0,masculin,150.0,270.0,A,C,111.0,oui,8.0,1.0,A,presence
3,53.0,masculin,140.0,203.0,B,C,155.0,oui,31.0,3.0,A,presence
4,41.0,masculin,130.0,214.0,A,C,168.0,non,20.0,2.0,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
267,64.0,masculin,110.0,211.0,A,C,144.0,oui,18.0,2.0,A,absence
268,63.0,feminin,150.0,407.0,A,C,154.0,non,40.0,2.0,D,presence
269,35.0,feminin,138.0,183.0,A,A,182.0,non,14.0,1.0,A,absence
masculin,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
feminin,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
df.at["feminin", "sexe"]=1
df

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58.0,masculin,100.0,234.0,A,A,156.0,non,1.0,1.0,B,presence
1,41.0,feminin,130.0,204.0,A,C,172.0,non,14.0,1.0,A,absence
2,58.0,masculin,150.0,270.0,A,C,111.0,oui,8.0,1.0,A,presence
3,53.0,masculin,140.0,203.0,B,C,155.0,oui,31.0,3.0,A,presence
4,41.0,masculin,130.0,214.0,A,C,168.0,non,20.0,2.0,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
267,64.0,masculin,110.0,211.0,A,C,144.0,oui,18.0,2.0,A,absence
268,63.0,feminin,150.0,407.0,A,C,154.0,non,40.0,2.0,D,presence
269,35.0,feminin,138.0,183.0,A,A,182.0,non,14.0,1.0,A,absence
masculin,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
feminin,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
df.at["feminin", "sexe"]=1
df.at['masculin', 'sexe']=0
df

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58.0,masculin,100.0,234.0,A,A,156.0,non,1.0,1.0,B,presence
1,41.0,feminin,130.0,204.0,A,C,172.0,non,14.0,1.0,A,absence
2,58.0,masculin,150.0,270.0,A,C,111.0,oui,8.0,1.0,A,presence
3,53.0,masculin,140.0,203.0,B,C,155.0,oui,31.0,3.0,A,presence
4,41.0,masculin,130.0,214.0,A,C,168.0,non,20.0,2.0,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
267,64.0,masculin,110.0,211.0,A,C,144.0,oui,18.0,2.0,A,absence
268,63.0,feminin,150.0,407.0,A,C,154.0,non,40.0,2.0,D,presence
269,35.0,feminin,138.0,183.0,A,A,182.0,non,14.0,1.0,A,absence
masculin,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
feminin,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
#supprimer les variable depression, vaisseau et pic du dataframe
df.drop(['depression', 'pic', 'vaisseau'], axis = 1, inplace = True)

In [195]:
df

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,coeur
0,58.0,masculin,100.0,234.0,A,A,156.0,non,presence
1,41.0,feminin,130.0,204.0,A,C,172.0,non,absence
2,58.0,masculin,150.0,270.0,A,C,111.0,oui,presence
3,53.0,masculin,140.0,203.0,B,C,155.0,oui,presence
4,41.0,masculin,130.0,214.0,A,C,168.0,non,absence
...,...,...,...,...,...,...,...,...,...
267,64.0,masculin,110.0,211.0,A,C,144.0,oui,absence
268,63.0,feminin,150.0,407.0,A,C,154.0,non,presence
269,35.0,feminin,138.0,183.0,A,A,182.0,non,absence
masculin,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
feminin,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN